<% title "User" %>
<!--
<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
<p>
<strong>Encrypted Password:</strong>
<%= @user.encrypted_password %>
</p>
<p>
<strong>Reset Password Token:</strong>
<%= @user.reset_password_token %>
</p>
<p>
<strong>Reset Password Sent At:</strong>
<%= @user.reset_password_sent_at %>
</p>
<p>
<strong>Remember Created At:</strong>
<%= @user.remember_created_at %>
</p>
<p>
<strong>Sign In Count:</strong>
<%= @user.sign_in_count %>
</p>
<p>
<strong>Current Sign In At:</strong>
<%= @user.current_sign_in_at %>
</p>
<p>
<strong>Last Sign In At:</strong>
<%= @user.last_sign_in_at %>
</p>
<p>
<strong>Current Sign In Ip:</strong>
<%= @user.current_sign_in_ip %>
</p>
<p>
<strong>Last Sign In Ip:</strong>
<%= @user.last_sign_in_ip %>
</p>
<p>
<strong>Picture:</strong>
<%= image_tag @user.images.first.avatar_url(:small) %>
</p>
<p>
<strong>Location:</strong>
<%= @user.location_id %>
</p>
-->
<p><%= link_to "Edit", edit_user_path(@user) %> |
<%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to "View All", users_path %>
</p>

<div class="row clearfix">
				<div class="col-md-6 column">
								<h2>
												<%= @user.first_name || ""%>
								</h2>
								<p>
								Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
								</p>
								<p>
								<a class="btn" href="#">View details »</a>
								</p>
				</div>
				<div class="col-md-6 column">
								<div class="carousel slide" id="carousel-452478">
												<ol class="carousel-indicators">
																<li class="active" data-slide-to="0" data-target="#carousel-452478">
																</li>
																<% @user.images.count do |i| %>
																				<li data-slide-to="<%= i+1 %>" data-target="#carousel-452478">
																				</li>
																<% end %>
												</ol>
												<div class="carousel-inner user-images">
																<% @user.images.each_with_index do |img,i| %>
																				<div class="item <%= "active" if i==0 %>">
																								<img alt="" src="<%= img.avatar %>" size="50x50">
																								<div class="carousel-caption">
																												<h4>
																																Second Thumbnail label
																												</h4>
																												<p>
																												Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
																												</p>
																								</div>
																				</div>
																<% end %>
												</div> <a class="left carousel-control" href="#carousel-452478" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-452478" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
				</div>
</div>

